# Example configuration for Sepolia + Celestia Mocha.
TENDERMINT_RPC_URL=https://rpc.celestia-mocha.com/
CHAIN_ID=11155111
RPC_URL=https://ethereum-sepolia.publicnode.com/
CONTRACT_ADDRESS=
# Key for relaying to the contract.
PRIVATE_KEY=

# If you're using the Succinct network, set SP1_PROVER to "network". Otherwise, set it to "local" or "mock".
SP1_PROVER=
# Only required if SP1_PROVER is set to "network".
SP1_PRIVATE_KEY=