[workspace]
[package]
version = "0.1.0"
name = "tendermint-operator"
edition = "2021"

[dependencies]
sp1-sdk = { git = "https://github.com/succinctlabs/sp1.git" }
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1", features = ["full"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
tendermint = { version = "0.35.0", default-features = false }
tendermint-light-client-verifier = { version = "0.35.0", default-features = false, features = [
    "rust-crypto",
] }
bincode = "1.3.3"
itertools = "0.12.1"
serde_cbor = "0.11.2"
sha2 = "0.10.8"
dotenv = "0.15.0"
subtle-encoding = "0.5.1"
alloy = { git = "https://github.com/alloy-rs/alloy", features = [
    "contract",
    "signer-wallet",
    "rpc",
    "providers",
    "reqwest",
] }
[build-dependencies]
sp1-helper = { git = "https://github.com/succinctlabs/sp1.git" }
